@page
@model FUCarRentingSystem.Pages.RentingTransactioned.RentingPageModel

@{
    ViewData["Title"] = "RentingPage";
}

<h1>RentingPage</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentingTransaction[0].RentingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentingTransaction[0].TotalPrice)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.RentingTransaction[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RentingTransaction)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RentingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Email)
                </td>
                <td>
                    <a asp-page="./RentingDetail" asp-route-id="@item.RentingTransationId">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
